* {
  color: white;
  font-family: "Raleway", sans-serif;
}
.details {
  justify-content: center;
  padding: 40px 20px 20px 20px;
  background-color: black;
  align-items: center;
}
.details > p {
  color: #494949;
}
img {
  height: 74vh;
  width: auto;
}
.container {
  padding: 10px;
}
.book {
  background-color: #c49b63;
  height: 270px;
  position: relative;
  bottom: 70px;
  padding: 20px;
}
.det {
  height: 200px;
}
.nav-link {
  color: whitesmoke;
}
input {
  color: whitesmoke;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid whitesmoke;
  background-color: transparent;
  padding: 8px;
}
::placeholder {
  color: whitesmoke;
}
input:focus {
  color: whitesmoke;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid whitesmoke;
}
.nam {
  padding: 10px;
}
.ord {
  margin-left: 10px;
  width: 200px;
  border-radius: 0;
  padding: 10px;
  background-color: whitesmoke;
  color: black;
}
.menu {
  border: 1px solid whitesmoke;
  margin-left: 10px;
  width: 200px;
  border-radius: 0;
  padding: 10px;
  /* background-color: whitesmoke; */
  color: whitesmoke;
}
/* .section-2 {
  position: relative;
} */
.discover {
  position: relative;
  bottom: 450px;
  z-index: 2;
  padding: 30px;
  width: 65%;
  background-color: #070708;
  opacity: 70%;
}
.story {
  height: 74vh;
}
/* .esy {
  
} */
.con > h5,
p {
  color: #070708;
}
.esy > div {
  color: #070708;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.con > svg {
  border: 2px solid #070708;
  padding: 15px;
}
.disco {
  align-items: center;
  display: flex;
  height: 70vh;
  gap: 40px;
  background-color: #070708;
}
.dis {
  display: flex;
  float: right;
  flex-direction: column;
  gap: 40px;
}
.view {
  align-items: right;
  color: #c49b63;
  border: 1px solid #c49b63;
  border-radius: 0;
  padding: 10px;
  width: 260px;
  align-items: right;
  position: relative;
  left: 380px;
}
.views {
  align-items: right;
  color: #c49b63;
  border: 1px solid #c49b63;
  border-radius: 0;
  padding: 10px;
  width: 150px;
}
.price-main {
  display: flex;
  gap: 25px;
}
.price {
  text-align: center;
  padding: 10px;
}
.price > p {
  color: #686868;
}
.price > h3 {
  margin-bottom: 30px;
}
.seller {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  background-color: #11100e;
}
.pros {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  display: flex;
  gap: 5px;
}
.main-dish,
.drinks,
.desserts {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}
.main-dish {
  padding: 10px;
  align-items: center;
  background-color: #c49b63;
}
.drinks,
.desserts {
  padding: 10px;
  border-bottom: 2px solid #c49b63;
}
.customer {
  width: 25%;
}
/* .customer > div{

} */
.customer-cards {
  margin-top: 60px;
  display: flex;
  gap: 0;
}
.customer {
  align-items: center;
  padding: 30px;
}
.customer:nth-child(even) {
  background-color: #af8a56;
  height: 300px;
}
.customer:nth-child(odd) {
  position: relative;
  top: 30px;
  background-color: #c29963;
  height: 270px;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
footer {
  background-color: #11100e;
}
footer > div {
  background-color: #11100e;
}
.foot {
  color: whitesmoke;
  display: flex;
  gap: 80px;
  padding: 50px;
}
.foot > p {
  color: whitesmoke;
}
.foot:nth-child() {
  width: 25%;
}
.about-us {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 50px;
  /* justify-content: space-evenly; */
}
.avatar2 {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  /* border-radius: 50%; */
}
.mapped {
  background-color: black;
  padding: 60px;
}
.medi > li {
  background-color: #292722;
  /* padding: 15px; */
  /* padding: 10px; */
  text-align: center;
  align-items: center;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.ques > li {
  display: flex;
  gap: 10px;
}

/* @media (max-width: 991px) {
  .det {
    display: flex;
    flex-direction: column;
  }
  .sec-ses {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .home {
    padding: 50px 0;
  }
  .home-text h1 {
    font-size: 56px;
  }

  .home-text p {
    font-size: 16px;
  }
} */
